<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Good Quotes</title>
</head>
<body>
<div align="center">
    <h1 style="color:green">Good Quotes</h1>
    <br/><br/>
    <a href="add"> Click here </a> to Subscribe to Good Quotes Mails
    <br/> <br/>
    <a href="remove"> Click here </a> to Unsubscribe to Good Quotes Mails
    <br/><br/>
    <a href="id"> Click here </a> to find id of Good Quotes Mails
</div>
</body>
</html>