<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Good Quotes</title>
</head>
<body>
<div align="center">
    <h1 style="color:blue">Get Id of Good Quotes</h1>
    <br/>
    <form action="#" th:action="@{/home/getId}" th:object="${mail}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Mail:</td>
                <td><input type="text" th:field="*{email}" /></td>
            </tr>

            <tr>
                <td colspan="2"><button type="Submit">Submit</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>